.theme-container.contact-page-class {
  form {
    /* Override Vuepress default */
    margin-top: 2rem !important;
  }
  .container {
    padding: 4rem 30px 0
  }
  .content {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .form-button, .form-field {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
    margin: 8px 0 20px;
    padding: 12px 20px;
    width: 100%;
  }

  .form-button {
    /* Copied from Vuepress defaults */
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    background-color: #3eaf7c;
    padding: 0.8rem 1.6rem;
    border-radius: 4px;
    transition: background-color 0.1s ease;
    box-sizing: border-box;
    border-bottom: 1px solid #389d70;
    -webkit-appearance: none; /* Make it look normal on iPhone */
  }

  .form-button:hover {
    /* Copied from Vuepress defaults */
    background-color: #4abf8a;
    cursor: pointer;
  }

  .form-field {
    font-size: 16px;
  }

  .hidden {
    display: none;
  }

  .title {
    text-align: center;
  }
}
